# .gcloudignore and .dockerignore should match

.dockerignore
.git/
.gitignore
.github/
.vscode/
.idea/
Dockerfile
README.md
CONTRIBUTING.md
docs/
images/
License
.gcloudignore
.nvmrc
dist/
node_modules/
test/
