<!DOCTYPE html>
<html class="mdc-typography">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Greeting App</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <style>
      :root {
        --mdc-theme-primary: #ff0000;
      }
</style>
  </head>
  <main>
  <h1 class="mdc-typography--display1">Tell us about yourself!</h1>

  <form action="#" id="greeting-form">
    <div>
      <div class="mdc-form-field">
        <div class="mdc-textfield" data-mdc-auto-init="MDCTextfield">
          <input id="firstname" type="text" class="mdc-textfield__input">
          <label for="firstname" class="mdc-textfield__label">
            Discord Webhook URL
          </label>
        </div>
      </div>
    </div>

    <button type="submit"
            class="mdc-button
                   mdc-button--raised
                   mdc-button--primary
                   mdc-ripple-surface"
            data-mdc-auto-init="MDCRipple">
      Convert
    </button>
  </form>
    
    <section id="demo-wrapper">
          <div id="js-select" class="mdc-select" role="listbox" tabindex="0">
            <span class="mdc-select__selected-text">Pick a food group</span>
            <div class="mdc-simple-menu mdc-select__menu">
              <ul class="mdc-list mdc-simple-menu__items">
                <li class="mdc-list-item" role="option" id="grains" tabindex="0">
                  Bread, Cereal, Rice, and Pasta
                </li>
                <li class="mdc-list-item" role="option" id="vegetables" tabindex="0">
                  Vegetables
                </li>
                <li class="mdc-list-item" role="option" id="fruit" tabindex="0">
                  Fruit
                </li>
                <li class="mdc-list-item" role="option" id="dairy" tabindex="0">
                  Milk, Yogurt, and Cheese
                </li>
                <li class="mdc-list-item" role="option" id="meat" tabindex="0">
                  Meat, Poultry, Fish, Dry Beans, Eggs, and Nuts
                </li>
                <li class="mdc-list-item" role="option" id="fats" tabindex="0">
                  Fats, Oils, and Sweets
                </li>
              </ul>
            </div>
          </div>
        </section>
        <p>Currently selected: <span id="currently-selected">(none)</span></p>

  <!-- The p element below is where we'll eventually output our greeting -->
  <p class="mdc-typography--headline" id="greeting"></p>
</main>

<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
<script>window.mdc.autoInit();</script>
  <script>
  document.getElementById('greeting-form').addEventListener('submit', function(evt) {
    evt.preventDefault();
    var discordHookUrl = evt.target.elements.firstname.value;
    if (discordHookUrl) {
      //TODO transform to the other url
    }

    document.getElementById('greeting').textContent = discordHookUrl;
  });
</script>
</html>