<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>skyhook</title>
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <main>
    <body class="mdc-typography">
      <div class="mdc-toolbar mdc-toolbar--fixed">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
          <span class="mdc-toolbar__title">skyhook</span>
        </section>
      </div>
      <div class="mdc-card demo-card">
        <form action="#" id="greeting-form">
          <div>
            <div class="mdc-form-field">
              <div class="mdc-textfield" data-mdc-auto-init="MDCTextfield">
                <input id="url" type="text" class="mdc-textfield__input">
                <label for="url" class="mdc-textfield__label">
                Discord Webhook URL
                </label>
              </div>
            </div>
          </div>
          <p>Provider</p>
        <section>
          <div id="js-select" class="mdc-select skyhook-select" role="listbox" tabindex="0">
            <span class="mdc-select__selected-text">Pick a provider</span>
            <div class="mdc-simple-menu mdc-select__menu">
              <ul class="mdc-list mdc-simple-menu__items">
                <li class="mdc-list-item" role="option" id="grains" tabindex="0">
                  AppVeyor
                </li>
                <li class="mdc-list-item" role="option" id="vegetables" tabindex="0">
                  CircleCi
                </li>
                <li class="mdc-list-item" role="option" id="fruit" tabindex="0">
                  GitLab
                </li>
                <li class="mdc-list-item" role="option" id="dairy" tabindex="0">
                  Travis
                </li>
              </ul>
            </div>
          </div>
        </section>
          <br />
          <button type="submit"
            class="mdc-button
            mdc-button--raised
            mdc-button--primary
            mdc-ripple-surface"
            data-mdc-auto-init="MDCRipple">
          Generate
          </button>
        </form>
        
        <div id="mdc-js-snackbar"
          class="mdc-snackbar"
          aria-live="assertive"
          aria-atomic="true"
          aria-hidden="true">
          <div class="mdc-snackbar__text"></div>
          <div class="mdc-snackbar__action-wrapper">
            <button type="button" class="mdc-button mdc-snackbar__action-button"></button>
          </div>
        </div>
      </div>
    </body>
  </main>
  <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
  <script src="https://wzrd.in/standalone/copy-to-clipboard@latest" async></script>
  <script>
    
    window.mdc.autoInit();
    
    (function(global) {
        'use strict';
      
        var MDCSnackbar = global.mdc.snackbar.MDCSnackbar;
        var snackbar = new MDCSnackbar(document.getElementById('mdc-js-snackbar'));
      
        var show = function(sb) {
            var data =  {
              message: "URL Generated. Copied to Clipboard",
              multiline: false
            };
            
            sb.show(data);
        }
      
        document.getElementById('greeting-form').addEventListener('submit', function(evt) {
          evt.preventDefault();
          var discordHookUrl = evt.target.elements.url.value;
          if (discordHookUrl) {
            discordHookUrl = discordHookUrl.replace("discordapp.com", "skyhook.glitch.me")
            //add the provider
            var index = select.selectedIndex
            switch(index) {
              case 0:
                discordHookUrl = discordHookUrl + "/appveyor"
                break;
              case 1:
                discordHookUrl = discordHookUrl + "/circleci"
                break;
              case 2:
                discordHookUrl = discordHookUrl + "/gitlab"
                break;
              case 3:
                discordHookUrl = discordHookUrl + "/travis"
                break;
            }
            
          }
          console.log(discordHookUrl)
          show(snackbar);

          window.copyToClipboard(discordHookUrl);
        });
      
        var MDCSelect = mdc.select.MDCSelect;
        var selectElement = document.getElementById('js-select');
        var select = MDCSelect.attachTo(selectElement);
      
      })(this);
    
    
  </script>
</html>