:root {
  --mdc-theme-primary: #009688;
}

body {
    background-color: #ECEFF1;
}

.demo-card {
   margin-top: 100px;
   margin-bottom: 48px;
   margin-left: 48px;
   margin-right: 48px;
   padding-right: 48px;
   padding-left: 48px;
   padding-top: 48px;
   padding-bottom: 48px;
   background-color: white;
}
